<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601935392634-fsjf0mhpouot8q1m9bt0omkbkorumqn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601935392634-fsjf0mhpouot8q1m9bt0omkbkorumqn9</string>
	<key>API_KEY</key>
	<string>AIzaSyAbB1LY2DNioigCXgrxibJzl-l1vFgzdzM</string>
	<key>GCM_SENDER_ID</key>
	<string>601935392634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.faheem</string>
	<key>PROJECT_ID</key>
	<string>faheem-79697</string>
	<key>STORAGE_BUCKET</key>
	<string>faheem-79697.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601935392634:ios:f4599a57ddcc1d2e5ff0c3</string>
</dict>
</plist>